<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="concFile" value="d:\temp\conc.xlsx"/>
    <add key="bufferLabware" value="buffer"/>
    <add key="totalVolume" value="100"/>
    <add key="ncVolume" value="12"/>
    <add key="dstConc" value="10"/>
    <add key="tipCount" value="8"/>
    <add key="reuseTimes" value="99"/>
    <add key="bufferTipVolume" value="200"/>
  </appSettings>
</configuration>